* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h3 {
  text-align: center;
  margin: 20px;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav li {
  display: inline-block;
  margin: 25px;
}
